<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/layout.css">

</head>

<body>
    <header></header>
    <main>
        <section>

            <% if(fav.length==0){%>
            <p>
                No avaliable JOKES ♣☺♣••♥☻♥
            </p>
            <% }else{%>
            <div>
                <% fav.forEach(item=>{ %>
                <h2>
                    <%= Object.values(item)[1] %>

                </h2>
                <p>
                    <%= Object.values(item)[2] %>

                </p>
                <p>
                    <%= Object.values(item)[3] %>

                </p>
                <form action="/del/<%= Object.values(item)[0] %>?metho=delete" method="post">
                    <input type="submit" value="DELETE"></form>
                    
                    <button class="showUpdate">Update</button>
                <form  class="formUpdate" action="/update/<%= Object.values(item)[0] %>?metho=put" method="post">
                    <input type="text" name="topic" value="<%= Object.values(item)[1] %>">
                    <input type="text"name="title" value="<%= Object.values(item)[2] %>">
                    <input type="text" name="content" value="<%= Object.values(item)[3] %>">
<input type="submit" value="UPDATE">

                </form>

                <%  }) %>
            </div>
            <% } %>


        </section>
    </main>

</body>

</html>